{% extends "base.html" %}

{% block content %}

<div class="card">

<h2>Edit Game Account</h2>

<form method="POST">

<p>Game Name</p>
<input type="text" name="game_name" value="{{ account.game_name }}">

<p>Game ID</p>
<input type="text" name="game_id" value="{{ account.game_id }}">

<p>Password</p>
<input type="text" name="game_password" value="{{ account.game_password }}">

<p>Note</p>
<input type="text" name="note" value="{{ account.note }}">

<br><br>

<button type="submit">Update</button>

<a href="/dashboard">
<button type="button">Back</button>
</a>

</form>

</div>

{% endblock %}